- content_for :title, 'Posts'
- breadcrumb :posts

- content_for :settings do
  %li= link_to fa_icon('plus', text: 'New post'), new_post_path

.posts
  %h2.heading All Posts

  %ul
    - @posts.reverse.each do |post|
      %li.post
        %header
          .post-img= image_tag 'laptop.svg'
          %h3.post-title= link_to post.title, post_path(post)
          .post-meta
            by
            = link_to post.author, '#', class: 'post-author'
            %time.post-date= post.created_at.strftime "%d %B %Y"
        %p.post-content= post.preview
        %footer= link_to 'Keep Reading', post_path(post), class: 'btn'

