- content_for :title, 'Posts'

.Posts
  %header
    = link_to '+ New Post', new_post_path, class: 'btn'
    %div
      Filters:

  %h2 All Posts
  %ul
    - @posts.each do |post|
      %li
        %h2= link_to post.title, post_path(post)
        %div= post.author
        %time= post.created_at
        %p= post.preview
        %footer= link_to 'Keep Reading', post_path(post), class: 'btn'

