- content_for :title, 'Posts'
- breadcrumb :posts

- content_for :settings do
  %li= link_to fa_icon('plus', text: 'New post'), new_post_path

.posts
  %h2.heading Recent Posts

  %ul
    - @posts.reverse.each do |post|
      %li.post
        %header
          %h3.post-title= link_to post.title, post_path(post)
          .post-meta
            = image_tag 'desktop.svg', class: 'post-img'
            by
            = link_to post.author, '#', class: 'post-author'
            %time.post-date= post.created_at.strftime "%d %B %Y"


        %p.post-content= post.excerpt

        %footer= link_to 'Keep Reading', post_path(post), class: 'btn'

