- content_for :title, 'Posts'

- content_for :nav do
  = link_to fa_icon('plus-circle', text: 'New Post'), new_post_path

.Posts
  %h2 All Posts
  %ul
    - @posts.reverse.each do |post|
      %li.PostPreview
        %header
          = image_tag 'laptop.svg'
          %h3= link_to post.title, post_path(post)
          .meta
            by
            = post.author
            %time= post.created_at.strftime "%d %B %Y"
        %p= post.preview
        %footer= link_to 'Keep Reading', post_path(post), class: 'btn'

