- content_for :title, 'New Post'
- breadcrumb :new_post
- content_for :settings do
  %li= link_to fa_icon('caret-square-o-down', text: 'Import Markdown'), '#'

.post-new
  %h2 New Post
  = form_for @post do |f|
    %div
      = f.label :title
      = f.text_field :title

    %div
      = f.label :author
      = f.text_field :author

    %div
      = f.label :content
      = f.text_area :content

    %div
      = f.submit class: 'btn'

