= content_for :title, 'New Post'

- content_for :nav do
  %ul.breadcrumbs
    %li= link_to fa_icon('home'), root_path
    %li= fa_icon 'angle-right'
    %li= link_to 'Posts', posts_path
    %li= fa_icon 'angle-right'
    %li= link_to 'New Post', '#'

.NewPost
  %h2 New Post
  = form_for @post do |f|
    %div
      = f.label :title
      = f.text_field :title

    %div
      = f.label :author
      = f.text_field :author

    %div
      = f.label :content
      = f.text_area :content

    %div
      = f.submit class: 'btn'

