- content_for :title, @post.title
- content_for :nav do
  %ul.breadcrumbs
    %li= link_to 'Home', root_path
    %li= fa_icon 'angle-right'
    %li= link_to 'Posts', posts_path
    %li= fa_icon 'angle-right'
    %li= link_to @post.title, '#'

.Post
  %header
    %h2.title= @post.title
    .meta
      by
      =link_to @post.author
      on
      %time= @post.created_at.strftime "%d %B %Y"

  .content= from_markdown @post.content

  %footer
    = link_to 'Back to Posts', posts_path, class: 'btn'
