!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/

    %title= title 'Slava Pavlutin', content_for(:title)

    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    %header.Header
      .logo
        = link_to image_tag('slavapavlutin.svg'), root_path, alt: 'SlavaPavlutin'
        lava Pavlutin
      %nav
        %ul
          %li= link_to 'Home', root_path
          %li= link_to 'Posts', posts_path
          %li= link_to 'Menu', '#'

    .Content
      = yield

    %footer.Footer
      %h3 Find Me On
      %nav
        %ul
          %li= link_to 'Twitter', '#'
          %li= link_to 'Github', '#'
      %small All rights reserved. 2015. Slava Pavlutin
