!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/

    %title= title 'Slava Pavlutin', content_for(:title)

    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    %header.Header
      .logo
        = link_to image_tag('slavapavlutin.svg'), root_path, alt: 'SlavaPavlutin'
        lava Pavlutin
      %nav
        %ul
          %li= link_to 'Home', root_path
          %li= link_to 'Posts', posts_path
          %li= link_to 'Projects', '#'
          %li= link_to 'Contact', '#'
          %li= link_to fa_icon('navicon', spinner: true), '#'


    %aside.Nav= content_for :nav

    .Content
      = yield

    %footer.Footer
      %h3 You can find me on:
      %nav
        %ul
          %li= link_to fa_icon('twitter', text: 'Twitter'), '#'
          %li= link_to fa_icon('github', text: 'Github'), '#'
          %li= link_to fa_icon('dribbble', text: 'Dribbble'), '#'
      %small All rights reserved. 2015. Slava Pavlutin
